{% extends "./base2.html" %}

{% block content %}
<div class="container-ac">
  <div class="container-product">
    <div class="container-prodview">
      <div class="card mb-3 shadow-lg">
        <img src="https://flores-creations.s3.us-east-2.amazonaws.com/IMG_2553.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="card text-center shadow-lg">
      <div class="card-header" style=" background-color: #e3f2fd">
        Hello!
      </div>
      <div class="card-body">
        <h1 class="card-title">Sorry For The Inconvenience!</h1>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/contact" class="btn pinky">Contact Via E-mail</a>
      </div>
      <div class="card-footer text-muted" style=" background-color: #e3f2fd">
        Have A Great Day!
      </div>
    </div>
  </div>

</div>
{% endblock %}
