{% extends "./base2.html" %}

{% block content %}
<div class="container-ac">
  <div class="container-product">
    <div class="container-prodview">
      <div class="card mb-3" style="max-width: 80vw; margin-left: 8vw;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ Product.url }}" style="max-width: 45vw;" alt="{{ Product.name }}">
          </div>
          <div class="col-md-5" style="margin-left: 18.5vw; padding-top: 5vh;">
            <div class="card-body">
              <h1 class="card-title">{{ Product.name }}</h1>
              <p class="card-text" style="padding-top: 5vh;">{{ Product.short_d }}</p>
            </div>
            <br>
            <div class="card-prices">
              <h2>Small:</h2><h4>$7.00</h4>

              <h2>Medium:</h2><h4>$10.00</h4>

              <h2>Large:</h2><h4>$12.00</h4>

              <h2>Custom Details:</h2><h4>+$3.00</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-center shadow-lg">
      <div class="card-header" style=" background-color: #e3f2fd">

      </div>
      <div class="card-body">
        <h1 class="card-title">Sorry For The Inconvenience!</h1>
        <p class="card-text">Due to the nature of custom work, we ask that you reach out to us before placing an order so that we ensure that you are getting the product that you actually want, not the product that we think that you want. Feel free to reach out to us directly, via email, by following the link below and filling out your information. We will reach out as soon as we possibly can to confirm the details of your order.</p>
        <a href="/contact" class="btn pinky">Contact Via E-mail</a>
      </div>
      <div class="card-footer text-muted" style=" background-color: #e3f2fd">
        Have A Great Day!
      </div>
    </div>
  </div>

</div>
{% endblock %}
