{% extends "./base2.html" %}

{% block content %}
<div class="container-ac">
  <div class="container-shoppe">
    <div class="container-shoppe-left">
      <div class="menu rounded shadow">
        <h4 style="text-decoration: underline;">Products</h4>
        <p></p>
        <a role="button" class="btn btn-sm pinky4" href="/">Masks</a>
        <a role="button" class="btn btn-sm pinky4" href="/">Shirts</a>
        <a role="button" class="btn btn-sm pinky4" href="/">Sweaters</a>
        <a role="button" class="btn btn-sm pinky4" href="/">Hats</a>
        <a role="button" class="btn btn-sm pinky4" href="/">Doggy Apparel</a>
      </div>
    </div>
    <div class="container-shoppe-right mr-auto rounded shadow">
      {% for item in ProdList %}
      <div class="card shadow" style="width: 18rem;">
        <a href="/shoppe">
          <img src="{{ item.url }}" class="card-img-top" alt="{{ item.name }}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.short_d }}</p>
        </div>
        <div class="card-body">
          <a role="button" class="btn btn-sm pinky4" href="/cart">Buy</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
